<h2>Editing Book</h2>

<%= form_with model:@book, local:true do |f| %>

<h2>Title:</h2>
<%= f.text_field :title %>

<h2>Body:</h2>
<%= f.text_area :body %>

<%= f.submit 'Update Book' %>

<% end %>

<%= link_to 'Show', book_path %> |
<%= link_to 'Back', books_path %>
